<!DOCTYPE html>
<html>
   <head>
      <title>Donkeycar Training</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
   <body>
      <div id="loader">
         <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/2D_data_training_SOM.gif" alt="Loader when training">
      </div>

      <form action = "http://localhost:5000/train" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" multiple/>
         <p>Drag your files here or click in this area.</p>
         <button type="submit">Train</button>
      </form>
   </body>
   <script>

      function file_input_event_handler(event) {
         var file_upload_paragraph = document.querySelector('form p')
         file_upload_paragraph.innerHTML = "Files chosen! Ready to train"
      }

      function form_submission_event_handler(event) {
         event.preventDefault();
         var input = document.querySelector('input[type="file"]')
         var loader = document.getElementById('loader')
         var submitButton = document.querySelector('button[type="submit"]')
         var file_upload_paragraph = document.querySelector('form p')

         function showLoader() {
            submitButton.innerHTML = "Training"
            submitButton.disabled = true
            input.disabled = true
            loader.classList.toggle('show')
         }

         function resetForm() {
            loader.classList.toggle('show')
            submitButton.innerHTML = "Train"
            submitButton.disabled = false
            input.disabled = false
            input.value = ''

            if(!/safari/i.test(navigator.userAgent)){
               input.type = ''
               input.type = 'file'
            }
         }

         var formData = new FormData();
         var fileList = input.files
         for (var i = 0; i < fileList.length; i++) {
            formData.append('files[]', fileList[i]);
         }
         
         if(fileList.length > 0){
            showLoader()
            fetch('/train', {
                  method: 'POST',
                  body: formData,
               })
               .then(response => response.blob())
               .then(blob => {

                  // Create anchor without attaching it to DOM
                  // Use it to download the receive file with specific filename
                  var a = document.createElement("a");
                  a.href = URL.createObjectURL(blob);
                  a.setAttribute("download", "mypilot.h5");
                  a.click();
                  console.log('Success:');

                  resetForm()
               })
               .catch((error) => {
                  console.error('Error:', error);
                  resetForm()
               });
         }
      }

      (function() {
         var file_input = document.querySelector('form input')
         file_input.addEventListener('change', file_input_event_handler)
         var form = document.querySelector('form')
         form.addEventListener("submit", form_submission_event_handler)
      })();
   </script>
</html>